body {
  margin: 0;
  background-color: #de9cb3;
  text-align: center;
}

.stuff {
  background-color: #de9cb3;
  background-image: url(bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 500px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.splash {
  background: url(images/splash.png) no-repeat;
  width: 327px;
  height: 400px;
  margin: 0 auto;
  text-indent: -9999px;
}