body {
  margin: 0;
  background-color: #de9cb3;
  text-align: center;
}

.stuff,
#canvas {
  background-color: #de9cb3;
  background-image: url(bg.png);
  background-repeat: repeat-x;
  background-position: bottom;
  background-size: auto 500px;
  position: fixed;
  height: 100%;
  width: 100%;

}

.splash {
  background: url(images/splash.png) no-repeat;
  width: 327px;
  height: 400px;
  margin: 0 auto;
  text-indent: -9999px;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
}


#start {
  z-index: 4;
  position: fixed;
}